body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}
.text {
  color: hsl(0, 0%, 100%);
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: hsl(231, 77%, 90%);
  font-family: "Barlow", sans-serif;
  margin: 24px 0 0;
}